<ion-header>
    <ion-navbar>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-searchbar (ionInput)="onInput($event)"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let channel of channels; let i = index" (click)="presentActionSheet(i)" [style.background]="'url(assets/imgs/fallback.png)'" [style.backgroundSize]="'contain'" [style.backgroundPosition]="'center center'" [style.backgroundRepeat]="'no-repeat'">
            <ion-thumbnail item-start [style.background]="'url('+ channel.tvLogo +')'" [style.backgroundSize]="'contain'" [style.backgroundPosition]="'center center'" [style.backgroundColor]="'rgba(0,0,0,.5)'" [style.backgroundRepeat]="'no-repeat'">
            </ion-thumbnail>
            <h2>{{channel.tvName}}</h2>
            <div *ngIf="channel.epg">
                <div *ngFor="let programme of channel.epg">
                    <p>
                        <ion-icon name="information-circle"></ion-icon> {{programme.title.__text}}
                    </p>
                    <div class="timeline" [style.width]="getCurrentEPGTimeBar(programme)"></div>
                </div>
            </div>
            <!--<button ion-button clear item-end (click)="playChannel(channel.url)">View</button>-->
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>