    .item-md {
        h2 {
            font-size: 1.4rem
        }
        &:hover {
            ion-thumbnail {
                opacity: 1;
            }
        }
        ion-thumbnail {
            min-height: 40px;
            min-width: 40px;
            opacity: 1;
        }
        p {
            color: rgba(255, 255, 255, .5);
            font-size: 70%;
            text-transform: lowercase;
            ion-icon {
                font-size: 1em;
                margin-right: 2px;
            }
        }
        .timeline {
            height: 2px;
            background: white;
        }
        .button-clear-md{
          color:white;
        }
    }
    
    .list-md .item-block .item-inner {}
    
    channels {}