<ion-header>
  <ion-navbar>
    <ion-toolbar>
      <button ion-button menuToggle start>
          <ion-icon name="menu"></ion-icon>
        </button>
      <ion-buttons>
          <ion-title>{{title}}</ion-title>
      </ion-buttons>
      <ion-buttons end>
         <!-- Existing bug caused by data gets weird on player
          <button ion-button icon-only (tap)="goToSearch()">
            <ion-icon name="search"></ion-icon>
          </button> -->
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="channels">
      <div *ngFor="let channel of channels; let i = index;" class="item-wrapper">
          <feed-item 
            *ngIf="i < amount"
            [obj]="channel" [index]="i"
            (goToPlayChannel)="playChannel($event)"
            ></feed-item>
            </div>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
   
</ion-content>