channels {
  ion-list {
    max-width: 800px;
    @media screen and (min-width: 800px) {
      margin: 3% auto!important;
      //box-shadow: 0 0 10px rgba(0, 0, 0, .3);
      border: 3px solid rgba(0,0,0,.2);
      background: rgba(0, 0, 0, 0.1)!important;
    }
    ion-item {
      width: 100%;
      background: rgba(255, 255, 255, 0)!important;
      outline: 0;
      &:focus,
      &.active,
      &:hover{
        background: rgba(255, 255, 255, .1)!important;
      }
    }
  }

  .item-wrapper{
    &:nth-child(odd){
      background: rgba(255,255,255,.05)!important;
    }
  }
}