iptv-base-app/node_modules
iptv-base-app/platforms
iptv-base-app/www
iptv-base-app/resources
iptv-base-app/node_modules
iptv-base-app/.tmp
iptv-base-app/.sass-cache
iptv-base-app/**/bower_components or sometimes it is lib/**
iptv-base-app/platforms
iptv-base-app/plugins
iptv-base-app/*.swp
iptv-base-app/*.swo
iptv-base-app/*.log
.DS_Store
iptv-base-app/www/build/*
iptv-base-app/.gradle
iptv-base-app/.sourcemaps/
