@-webkit-keyframes FADE-IN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes FADE-IN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes FADE-IN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes FADE-IN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


//


@keyframes WIGGLE {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-2deg);}
  50% {transform: rotate(2deg);}
  75% {transform: rotate(-2deg);}
  100% {transform: rotate(0deg);}
}