<ion-header>
  <ion-navbar>
    <ion-toolbar>
      <button ion-button menuToggle start>
          <ion-icon name="menu"></ion-icon>
        </button>
      <ion-buttons>
          <ion-title>{{title}}</ion-title>
      </ion-buttons>
      <ion-buttons end>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
    <ion-grid>
      <ion-row tabindex="0" (keypress)="keyEvents($event)" *ngIf="countries">
        <ion-col *ngFor="let item of countries; let i=index;" col-12 col-md-4 col-lg-3 col-xl-2 >
          <ion-card
            tappable 
            (press)="loadOptions(item)"
            (tap)="goToCountry(item.name)"
            class="groups-item-{{i}}"
            aria-checked="true" tabindex="{{i+1}}">
              <div class="image-overlay"></div>
              <div class="card-title">{{ item.name }}</div>
              <div class="card-subtitle">{{ item.channels }} channels</div>
          </ion-card>
      <!--<ion-slide *ngFor="let fav of favoritesInCountry(item.name)">
          <ion-card
            tappable
            (tap)="playChannel(fav)">
              <div class="image-overlay" [style.background]="''" [style.backgroundSize]="'cover'" [style.backgroundPosition]="'center'"></div>
              <div class="card-subtitle"><img class="tv-logo" src="{{fav.tvLogo}}" width="30px"></div>
              <div class="card-title">{{ fav.tvName }}</div>
          </ion-card>
      </ion-slide>-->
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>