<ion-header>
  <ion-navbar>
    <ion-toolbar>
      <button ion-button menuToggle start>
          <ion-icon name="menu"></ion-icon>
        </button>
      <ion-buttons>
          <ion-title>{{title}}</ion-title>
      </ion-buttons>
      <ion-buttons end>
        <!--<button ion-button end (click)="openSearchModal()">
          <ion-icon name="search"></ion-icon>
        </button>-->
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
    <ion-grid>
      <ion-row (keypress)="keyEvents($event)" *ngIf="countries">
        <ion-col *ngFor="let item of countries; let i=index;" col-12 col-md-4 col-lg-3 col-xl-2 >
          <ion-card
            tappable 
            (press)="loadOptions(item)"
            (tap)="goToCountry(item.name)"
            class="groups-item-{{i}}"
            aria-checked="true" 
            tabindex="{{i+1}}">
              <div class="image-overlay"></div>
              <div class="card-title">{{ item.name }}</div>
              <div class="card-subtitle">{{ item.channels }} channels</div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid> 
</ion-content>