modal-epg{
  .epg-item-wrapper{
    &:nth-child(odd){
      background: rgba(255,255,255,.05)!important
    }

    ion-item{
      &.innactive{
        opacity:.5;
        will-change: opacity;
        transition:opacity .3s ease-out;
        
        &:hover, &:focus{
          opacity:.8;
        }
      }
    } 
  }
  
}