<ion-item *ngIf="item"
  tappable
  [ngClass]="{'active': item.active}"
  aria-checked="true" tabindex="{{index}}"
  class="items-template item-{{index}}"
  (press)="itemOptions(i)"
  (tap)="playChannel(item)">
      <ion-thumbnail item-start >
        <virtual-ion-img  *ngIf="item.logo" [src]="item.logo" [cache]="true" ></virtual-ion-img>
        <!--<ion-img *ngIf="item.logo" [src]="item.logo" [cache]="true" ></ion-img>-->
      </ion-thumbnail>
      <h2>{{item.name}}</h2>
      <div *ngIf="item.epg" class="epg" >
          <div *ngFor="let epg of item.epg">
            <p>
              <ion-icon name="information-circle"></ion-icon> {{epg.title.__text}}
            </p>
            <div class="timeline">
              <div class="progress" [style.width]="getCurrentEPGTimeBar(epg)"></div>
            </div>
            <p class="epg-hours">
                <span>{{epg._start  | date : 'shortTime'}}</span>
                -
                <span>{{epg._stop  | date : 'shortTime'}}</span>
              </p>
          </div>
      </div>
</ion-item>