<ion-item *ngIf="channel"
  tappable
  [ngClass]="{'active': channel.active}"
  aria-checked="true" tabindex="{{index}}"
  class="items-template item-{{index}}"
  (press)="itemOptions(i)"
  (tap)="playChannel(channel)">
      <ion-thumbnail item-start >
        <virtual-ion-img  *ngIf="channel.tvLogo" [src]="channel.tvLogo" [cache]="true" ></virtual-ion-img>
        <!--<ion-img *ngIf="channel.tvLogo" [src]="channel.tvLogo" [cache]="true" ></ion-img>-->
      </ion-thumbnail>
      <h2>{{channel.tvName}}</h2>
      <div *ngIf="channel.epg" class="epg" >
          <div *ngFor="let programme of channel.epg">
            <p>
              <ion-icon name="information-circle"></ion-icon> {{programme.title.__text}}
            </p>
            <div class="timeline" [style.width]="getCurrentEPGTimeBar(programme)"></div>
            <p class="epg-hours">
                <span>{{programme._start  | date : 'shortTime'}}</span>
                -
                <span>{{programme._stop  | date : 'shortTime'}}</span>
              </p>
          </div>
      </div>
</ion-item>