.ios, .md {
 
    page-splash {
 
        .scroll-content {
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-width:50%;
            }
        }
 
 
    }
 
}
