<ion-content>
  <div class="video-container">
    <div class="video-wrapper" [ngClass]="{'showProgressAndTime': showProgressAndTime}">
      <video *ngIf="item.url" 
        id="stream-video" 
        poster="myPoster.jpg"
        class="video-js vjs-big-play-centered" controls ></video>
    </div>
  </div>
</ion-content>
<!-- Channels menu -->
<ion-menu side="right" [content]="content">
  <!--<ion-header>
    <ion-toolbar>
      <ion-title>Channels</ion-title>
    </ion-toolbar>
  </ion-header>-->
  <ion-content>
    <ion-list>
      <div *ngFor="let channel of list; let i = index;">
        <feed-item 
          *ngIf="i < amount"
          [obj]="channel" [index]="i"
          (goToPlayChannel)="playItem($event)"
          [ngClass]="{'active': item.tvName === channel.tvName}"></feed-item>
        </div>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ion-menu>
<ion-nav #content></ion-nav>
