channel {
    ion-list {
        margin-top: 150px!important;
    }
    #stream-video {
      z-index: 9;
      padding-top: 0;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      height: 200px;
    }

    ion-header{
      &:after{
        display: none;
      }
    }
    .button-clear-md{
      color:white;
    }
}